body {
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.main-nav {
    background-color:blue;
    
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav a {
    color: yellow;
    padding: .5em 1em;
    display: block;
    text-decoration: none;
}  
.main-nav a:hover{
    color: red;
    text-decoration: underline;
} 
.push {
    margin-left: auto;
}
 